---
import { contracts } from "../../../contracts";
import Layout from "../../../layouts/Layout.astro";
import MenuBackground from "../../../assets/images/menu_background.jpg";
import mobileHeader from "../../../assets/images/contract_menu_background_mobile.jpg";
import PageBackgroundImage from "../../../components/PageBackgroundImage.astro";
import BmwLogo from "../../../components/SVG/BmwLogo.astro";
import Footer from "../../../components/Footer.astro";
import BurgerMenuButton from "../../../components/MenuButton";
import MenuButton from "../../../components/pages/Menu/MenuButton.astro";
import ThumbsUp from "../../../components/SVG/ThumbsUp.astro";
import GearIcon from "../../../components/SVG/GearIcon.astro";
import Umbrella from "../../../components/SVG/Umbrella.astro";
import Options from "../../../components/SVG/Options.astro";
import Profile from "../../../components/SVG/Profile.astro";
import Car from "../../../components/SVG/Car.astro";
import Calendar from "../../../components/Calendar.astro";
import DocCheck from "../../../components/SVG/DocCheck.astro";
import { motion } from "framer-motion";
import PageHeader from "../../../components/PageHeader.astro";


export const getStaticPaths = () => {
    return contracts.map(c => ({ params: { contract: c.path }}))
}

const { contract: contractPath } = Astro.params;

const contract = contracts.find((c) => c.path === contractPath)!;
---

<Layout title={`BMW Financial Services / contrat ${contract.name}`}>
    <PageBackgroundImage imageSrc={MenuBackground}>
        <div class="w-full h-full overflow-hidden bg-white sm:flex sm:flex-col sm:bg-transparent">
            <div class="w-full h-full items-center flex flex-col flex-grow sm:px-12 sm:pb-6 overflow-auto">
                <div class="w-full sm:hidden">
                    <PageHeader
                        mobileOnly
                        mobileImageSrc={mobileHeader}
                        contract={contract}
                        currentUrl={`/contrat/${contract.path}`}
                    />
                </div>
                <header class="hidden sm:flex w-full pt-8 pb-4 flex-row justify-between items-center border-b border-white">
                    <a href="/">
                        <h1 class="text-white text-2xl font-bold text-shadow-xl">BMW Financial Services</h1>
                    </a>
                    <div class="flex flex-row items-center">
                        <BurgerMenuButton contract={contract} currentUrl={`/contrat/${contract.path}`} client:load />
                        <BmwLogo class="ml-8 w-16 h-auto" />
                    </div>
                </header>
                
                <h2 class="text-black sm:text-white text-3xl font-light uppercase text-center pb-6 sm:pb-0 border-b sm:border-b-0 border-b-black my-6 mx-6 sm:mx-0 sm:px-6">
                    vos informations pratiques sur votre <span class="font-bold">{contract.cosyName}</span>
                </h2>
                <div class="w-full max-w-5xl flex-grow grid grid-cols-2 lg:grid-cols-4 gap-4 px-6 sm:px-0">
                    <MenuButton href={`/contrat/${contract.path}/vos-avantages`}>
                        <ThumbsUp slot="icon" class="w-14 h-auto" />
                        <span slot="text">
                            Les avantages <br> de votre contrat
                        </span>
                    </MenuButton>
                    <MenuButton href={`/contrat/${contract.path}/vos-services`}>
                        <GearIcon slot="icon" class="w-20 h-auto" />
                        <span slot="text">
                            Vos services
                        </span>
                    </MenuButton>
                    <MenuButton href={`/contrat/${contract.path}/vos-garanties`}>
                        <Umbrella slot="icon" class="w-16 h-auto" />
                        <span slot="text">
                            Vos garanties
                        </span>
                    </MenuButton>
                    <MenuButton href={`/contrat/${contract.path}/vos-options`}>
                        <Options slot="icon" class="w-16 h-auto" />
                        <span slot="text">
                            Vos options
                        </span>
                    </MenuButton>
                    <MenuButton href={`/contrat/${contract.path}/vos-contacts-et-demarches`}>
                        <Profile slot="icon" class="w-14 h-auto" />
                        <span slot="text">
                            Vos contacts<br>et démarches
                        </span>
                    </MenuButton>
                    <MenuButton href={`/contrat/${contract.path}/rachat-de-votre-vehicule-en-cours-de-contrat`}>
                        <Car slot="icon" class="w-16 h-auto" />
                        <span slot="text">
                            rachat de votre véhicule en cours de contrat.
                        </span>
                    </MenuButton>
                    <MenuButton href={`/contrat/${contract.path}/la-fin-de-votre-contrat`}>
                        <Calendar slot="icon" class="w-12 h-auto" />
                        <span slot="text">
                            La fin de votre<br> contrat
                        </span>
                    </MenuButton>
                    <MenuButton href={`/contrat/${contract.path}/en-cas-de-sinistre`}>
                        <DocCheck slot="icon" class="w-10 h-auto" />
                        <span slot="text">
                            En cas de sinistre
                        </span>
                    </MenuButton>
                </div>
                <div class="sm:hidden w-full mt-6">
                    <Footer />
                </div>
            </div>
            <div class="hidden sm:block w-full">
                <Footer />
            </div>
        </div>
    </PageBackgroundImage>
</Layout>